# R Built-In Data Types

## Number

### Integer
Use **L** to denote integer

In [6]:
print ( 2L )
print( typeof( 2L ) )
print( is.integer( 2L ) )

[1] 2
[1] "integer"
[1] TRUE

### Double

In [11]:
print ( 2.3 )
print( typeof( 2.3 ) )
print( is.double( 2.3 ) )

[1] 2.3
[1] "double"
[1] TRUE

### is.numeric()
**Both** integer and double are numeric

In [17]:
print( is.numeric(2L) )
print( is.numeric(2.3L) )

[1] TRUE
[1] TRUE

## Character

In [24]:
print( 'abc' )
print( typeof('abc') )
print( is.character('abc') )

[1] "abc"
[1] "character"
[1] TRUE

## Date and Time

### Date
- Date is in fact **double**
- There is **no is.date()** function

In [2]:
d = as.Date('2019-01-03')
print( d )
print( typeof(d) )
print( is.double(d) )

[1] "2019-01-03"
[1] "double"
[1] TRUE

### Time

### Date and Time

# R Built-In Data Structure

## Vector
- Vector can only contain single data type (atomic) elements

### Creating Vector

#### Empty Vector
- Empty vector is vector with no elements, also known as **NULL**
- Use **is.null()** to test NULL

In [9]:
empty = c()
print   (empty)
typeof  (empty)
is.null (empty)

NULL

[1] "NULL"

[1] TRUE

#### Assignment

In [74]:
x1 = c(1,2,3,4,5)    
x2 = c('yongks','mahathir','limge','annuar','limks')
x3 = c(1,4:6,10:15)  ## assign with range of number
str (x1)
str (x2)
str (x3)

 num [1:5] 1 2 3 4 5
 chr [1:5] "yongks" "mahathir" "limge" "annuar" "limks"
 num [1:10] 1 4 5 6 10 11 12 13 14 15

### Naming & Attributes
- Each element of vector can have a name

#### Creating Names

In [58]:
y        = c(7,8,9,10)
names(y) = c('seven','eight','nine')
print(y)

seven eight  nine  <NA>
    7     8     9    10

#### Retrieving Names
- **names()** return a vector of all names of a vector
- Elements that has not been assinged names will have **NA**

In [60]:
names(y)

[1] "seven" "eight" "nine"  NA

#### Name as Attribute

Naming vector **creates "name" attributes**

In [62]:
attributes (y)

$names
[1] "seven" "eight" "nine"  NA

### Accessing Elements
- Accessing element(s) will always return as a new vector

#### Access with Index Vector
Supply a **number vector in [  ]** to select the elements.   
Index number starts at 1.

In [7]:
z = c('aaa','bbb','ccc','ddd','eee','fff','ggg','hhh','iii','jjj')

print( z[3]   )       ## retrieve single element
print( z[c(1,3,4)]  ) ## retrieve element 1,3,4
print( z[1:3] )       ## retrieve first 3 elements
print( z[c(1:3, 7:9)])

[1] "ccc"
[1] "aaa" "ccc" "ddd"
[1] "aaa" "bbb" "ccc"
[1] "aaa" "bbb" "ccc" "ggg" "hhh" "iii"

Use **negate (-num)** to deselect item(s)

In [8]:
print( z[c(-1,-4)] )  ## negate specific elements
print( z[c(-1:-3)] )  ## deselect first 3 elements

[1] "bbb" "ccc" "eee" "fff" "ggg" "hhh" "iii" "jjj"
[1] "ddd" "eee" "fff" "ggg" "hhh" "iii" "jjj"

#### Access with Logical Vector
Conceptual wize, index a vector with T/F will return elements which match T

In [11]:
z = c('aaa','bbb','ccc','ddd','eee','fff','ggg','hhh','iii','jjj')
print( z[ c(T,T,T,F,F,F,F,F,F,F)] ) ## retrieve first 3 elements

[1] "aaa" "bbb" "ccc"

**This method can be used as 'filtering'**, 
by first 
- Form a logical vector based on matching criteria of the vector itself
- Index the data vector with this logical vector 
- If logical vector is shorter than data, **logical elements repeat itself**

In [12]:
## create the logical vector
criteria = z %in% c('fff','iii')
print( criteria )
print( z[criteria] )   ## apply the logical vector to vector indexing

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE
[1] "fff" "iii"

Logical vector **repeat itself** if shorter than data length.

In [13]:
## select every alternate element (odd position)
z[c(T,F)]

[1] "aaa" "ccc" "eee" "ggg" "iii"

#### Access with Name
Index with a vector of names

In [14]:
z = c(1,2,3,4,5,6,7,8,9)
names(z) = c('one','two','three','four','five','six','seven','eight','nine')

In [15]:
print( z['seven']  )            # does not require c() if single element
print( z[c('seven','nine')]  )  # choose two elements by name

seven
    7
seven  nine
    7     9

### Remove Item(s)

#### Characteristic

In [38]:
is.atomic(x2)

[1] TRUE

### Characteristic of Vector

In [3]:
z = c(1,2,3,4,5,6,7,8,9)
names(z) = c('one','two','three','four','five','six','seven','eight','nine')
attributes()

## Data Frame

# Control Structure

## if..then..else

## For Loop

Loop through any vector, numeric or character

### Loop through Number vector

In [4]:
for(i in 1:5)
    print(i)

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

### Loop through Character Vector

In [1]:
students = c(10,15,16,18,20)
names(students) = c('ali','abu','ah kow','sammy','david')
print(students)

   ali    abu ah kow  sammy  david
    10     15     16     18     20

In [2]:
for (i in 1:length(students)) {
    cat('Student name: ', names(students)[i], '\tage: ', students[i],'\n')
}

Student name:  ali 	age:  10
Student name:  abu 	age:  15
Student name:  ah kow 	age:  16
Student name:  sammy 	age:  18
Student name:  david 	age:  20

In [ ]:
#