# Wrangling

## Library

In [3]:
library(tidyverse)

## Sample Data

In [5]:
set.seed(1234)
my.df = data.frame(
  com  = paste('C',sample(1:3, 100, replace = T),sep=''),
  dept = paste('D',sample(1:7, 100, replace = T),sep=''),
  team = paste('T',sample(1:15, 100, replace = T),sep=''),
  x1 = rnorm(1:100, mean = 50, sd = 5),
  x2 = rnorm(1:100, mean = 20, sd = 3),
  x3 = rnorm(1:100, mean =  5, sd = 1),
  stringsAsFactors = F
)
head(my.df)

  com dept team x1       x2       x3
1 C1  D1   T10  48.11381 21.31079 2.683964
2 C2  D4   T8   50.48810 23.18037 5.562472
3 C2  D2   T5   58.19372 21.35657 4.216225
4 C2  D2   T12  45.62204 21.98960 4.773946
5 C3  D1   T8   50.60880 16.59088 3.412897
6 C2  D3   T11  56.81065 18.88851 5.547524

In [6]:
glimpse(my.df)

Observations: 100
Variables: 6
$ com  <chr> "C1", "C2", "C2", "C2", "C3", "C2", "C1", "C1", "C2", "C2", "C...
$ dept <chr> "D1", "D4", "D2", "D2", "D1", "D3", "D2", "D1", "D4", "D1", "D...
$ team <chr> "T10", "T8", "T5", "T12", "T8", "T11", "T5", "T7", "T4", "T15"...
$ x1   <dbl> 48.11381, 50.48810, 58.19372, 45.62204, 50.60880, 56.81065, 48...
$ x2   <dbl> 21.31079, 23.18037, 21.35657, 21.98960, 16.59088, 18.88851, 24...
$ x3   <dbl> 2.683964, 5.562472, 4.216225, 4.773946, 3.412897, 5.547524, 6....

# Frequency Table

In [ ]:
my.df

In [ ]:
table(my.df)

## dplyr

### Filter

### Sorting